*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'oswald';
  src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

p {
  font-family: 'open-sans';
}

a {
  font-family: 'oswald';
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'oswald';
  font-weight: 700;
}

article,
aside,
figure,
section,
div,
main,
nav,
footer,
header {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}


a {
  text-decoration: none;
  display: inline-block;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

a:hover {
  text-decoration: none;
}


.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}


.row {
  /* padding: 15px 0px; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* .row div {
  border: 1px solid blue;
} */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xlg-1,
.col-xlg-2,
.col-xlg-3,
.col-xlg-4,
.col-xlg-5,
.col-xlg-6,
.col-xlg-7,
.col-xlg-8,
.col-xlg-9,
.col-xlg-10,
.col-xlg-11,
.col-xlg-12
 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}


.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}


@media (max-width: 575.98px) {
  .container{
    width: 320px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container{
    width: 576px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container{
    width: 768px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container{
    width: 992px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container{
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container{
    width: 1400px;
  }
}